
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #debug rule */
.debug * {
    border: 1px dashed;
}
/* #enddebug rule */


/* #layout rule */
.container-width {
    margin: auto;
    max-width: 1200px;
    width: 90%;
    
}
.container{
    margin: auto;
    max-width: 1200px;
    width: 80%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-12 {
    width: 100%;
}

[class^="col-"] {
    padding: 0 0.5rem;
}
.between {
    justify-content: space-between;
}
.d-flex {
    display: flex;
    align-items: center;
}
.col-8 {
    width: calc((100% / 12) * 8);
}
.col-4 {
    width: calc((100% / 12 )* 4);
}
.bg-color-background{
    background-color: #f6f5f3;
}
/* #endlayout rule */


/* #header rule */
.title {
    justify-content: center;
    align-items: center;
}
header{
    background-color: white;
    padding: 1rem;
}
h1 {
    text-align: center;
    font-size: 1.8rem;
    font-family: nerko-one, sans-serif; 
    color: orange;
}

body{
    background-color: #f6f5f3;
}
/* #endheader rule */


/* #main rule */

.rate {
    background-color: orange;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 0.5rem;


}


.py-5{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.tiramisu{

    justify-content: flex-start;
 
    
}
/* #endmain rule */