* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #debug rule */
.debug * {
    border: 1px dashed;
}

/* #enddebug rule */


/* #layout rule */
.container-width {
    margin: auto;
    max-width: 1200px;
    width: 90%;

}

.container {
    margin: auto;
    max-width: 1200px;
    width: 60%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-12 {
    width: 100%;
}

[class^="col-"] {
    padding: 0 0.5rem;
}

.between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
    align-items: center;
}

.col-8 {
    width: calc((100% / 12) * 8);
}
.col-12 {
    width: calc((100% / 12) * 12);
}

.col-4 {
    width: calc((100% / 12)* 4);
}

.bg-color-background {
    background-color: white;
}
.bg-color-secondary{
    background-color: #f6f5f9;
}
img{
    max-width: 100%;
}

.py-1{
    padding-top:1.0rem;
}

.my-3{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.end{
    justify-content: end;
    align-items: flex-end;
}
.py-3{
    padding-top: 1.5rem;
    padding-bottom: 1.0rem;
}
.start{
  
    align-items: flex-start;
}
.around{
    justify-content: space-around;

}
.center{
    justify-content: center;
}
/* #endlayout rule */


/* #header rule */
.title {
    justify-content: center;
    align-items: center;
}

header {
    background-color: white;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    font-family: nerko-one, sans-serif;
    color: orange;
}

body {
    background-color: #f6f5f3;
}

/* #endheader rule */


/* #main rule */

.rate {
    background-color: orange;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: rem;
    align-items: center;
}


.tiramisu {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    justify-content: flex-start;
}
.title-minor {
    color: rgba(0, 0, 0, 0.158);
    font-size: 0.8rem;
}


.voto {
    padding-right: 0.2rem;
}

.calorie{
    background-color: #7b69a2;
    border-radius: 0.5rem;
    padding: 0.1rem;
    color: white;
}

.info{

    color: orange;

}
.ingredient hr{
    width: 80%;
    margin: auto;
    border-color: rgba(0, 0, 0, 0.151);
}




.social{
    background-color: white;
    border-radius: 50%;
    padding: 0.4rem 1.2rem;
}



.presentation hr{
    border-color: rgb(255, 238, 0) ;
    width: 25%;
}

.tiramisu{
    width: 50%;
    margin: auto;
}
.presentation p{
    line-height: 1.3rem;
}


@media screen and (min-width: 768px) {

    
}



@media screen and (min-width: 992px) {
    
}